@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    padding-left: 0;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .offer_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }

  nav .cart {
    padding: 5px;
    height: 40px;
    width: auto;
    justify-self: center;
    margin-bottom: 10px;  
  }

  nav .cart svg {
    height: 20px;
  }

  nav .cart h6 {
    font-size: medium;
  }

  nav .cart .num-elementos {
    font-size: 8px;
    padding: 1px 5px; /* Ajusta el tamaño del badge en pantallas pequeñas */
    margin-left: 2%;
  }
}

@media (max-width: 767px) {
  nav .cart .num-elementos {
    margin-left: 3%;
  }

  .about_section{
    padding-bottom: 65px;
  }

  .about_section .detail-box,
  .contacto_section .form_container {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .offer_section .box {
    flex-direction: row;
    text-align: left;
  }

  .offer_section .box .img-box {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 430px) {
  nav .cart .num-elementos {
    margin-left: 4%;
  }
  
  .offer_section .box {
    flex-direction: column;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  } 
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 767px) {
  .articulo-destacado {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .articulo-destacado {
    margin: 0px 5px 0px 25px;
  }

  .articulos-destacados .heading_container h3{
    margin-left: 5%;
  }
}

@media (max-width: 767px) {
  .blog_section{
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .ayuda_section{
    margin-right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 0 2em 0 0;   
  }
}
